<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <label for="auth-basic-status">
            <input name="auth-basic-status" type="checkbox">
        </label>
        <label for="auth-basic-name">
            <input name="auth-basic-name" type="text" placeholder="username">
        </label>
        <label for="auth-basic-password">
            <input name="auth-basic-password" type="password" placeholder="password">
        </label>
    </div>
</body>
</html>