<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        {{ $Auth := (index .Request.Auths.Auths "BASIC") }}
        <label for="auth-basic-status">
            <input 
                id="auth-basic-status"
                name="{{ .Constants.Auth.Basic.Status }}" 
                type="checkbox" 
                {{if $Auth.Active }} checked {{end}}>
        </label>

        <label for="auth-basic-user">
            {{ $Username := (index $Auth.Parameters "username").Value }}
            <input 
                id="auth-basic-user" 
                name="{{ .Constants.Auth.Basic.User }}" 
                type="text" 
                placeholder="username" 
                value="{{ $Username }}">
        </label>

        <label for="auth-basic-password">
            {{ $Password := (index $Auth.Parameters "password").Value }}
            <input 
                id="auth-basic-password" 
                name="{{ .Constants.Auth.Basic.Password }}" 
                type="password" 
                placeholder="password" 
                value="{{ $Password }}">
        </label>
    </div>
</body>
</html>