<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    {{ $Auth := (index .Request.Auths.Auths "BEARER").Parameters }}
    <label for="auth-bearer-status">
        <input 
            id="auth-bearer-status" 
            name="{{ .Constants.Auth.Bearer.Status }}" 
            type="checkbox" 
            {{if $Auth.Active }} checked {{end}}>
    </label>

    <label for="auth-bearer-prefix">
        {{ $Prefix := (index $Auth "prefix").Value }}
        <input 
            id="auth-bearer-prefix"
            name="{{ .Constants.Auth.Bearer.Prefix }}" 
            type="text" 
            placeholder="bearer" 
            value="{{ $Prefix }}">
    </label>

    <label for="auth-bearer-token">
        {{ $Token := (index $Auth "token").Value }}
        <textarea 
            id="auth-bearer-token"
            name="{{ .Constants.Auth.Bearer.Token }}" 
            id="auth-bearer-token" 
            placeholder="token">{{ $Token }}</textarea>
    </label>
</body>
</html>