<label for="body-parameter-json">
    <textarea 
        name="{{ .Constants.Body.ValueJson }}" 
        id="body-parameter-json" 
        class="body-parameter" 
        placeholder="Json" 
        onchange="syncronizeBodies(event)">{{ BodyString .Constants.Body.TagJson .Request.Body }}</textarea>
</label>

<script>

    document.jsonEditor = CodeMirror.fromTextArea(jsonTextArea(), {
        lineNumbers: true,
        mode: "javascript",
        matchBrackets: true,
        autoCloseBrackets: true,
        lint: true,
        gutters: ["CodeMirror-lint-markers", "CodeMirror-linenumbers"]
    });

    document.jsonEditor.on("change", () => {
        const content = document.jsonEditor.getValue();
        jsonTextArea().value = content;
    });

    function jsonTextArea() {
        return document.getElementById('body-parameter-json');
    }

</script>