<script>
    let jsonEditor
    document.addEventListener('DOMContentLoaded', function () {
        jsonEditor = CodeMirror.fromTextArea(document.getElementById('body-parameter-json'), {
        lineNumbers: true,
        mode: "javascript",
        matchBrackets: true,
        autoCloseBrackets: true,
        lint: true,
        gutters: ["CodeMirror-lint-markers", "CodeMirror-linenumbers"]
        });
    });
</script>

<label for="body-parameter-json">
    <textarea 
        name="{{ .Constants.Body.ValueJson }}" 
        id="body-parameter-json" 
        class="body-parameter" 
        placeholder="Json" 
        onchange="syncronizeBodies(event)">{{ BodyString .Constants.Body.TagJson .Request.Body }}</textarea>
</label>