<label for="body-parameter-text">
    <textarea 
        name="{{ .Constants.Body.ValueText }}" 
        id="body-parameter-text" 
        class="body-parameter" 
        placeholder="Text" 
        onchange="syncronizeBodies(event)">{{ BodyString .Constants.Body.TagText .Request.Body }}</textarea>
</label>

<script>

    document.textEditor = CodeMirror.fromTextArea(document.getElementById('body-parameter-text'), {
        lineNumbers: true,
        mode: "text",
        gutters: ["CodeMirror-lint-markers", "CodeMirror-linenumbers"]
    });

    document.textEditor.on("change", () => {
        const content = document.textEditor.getValue();
        jsonTextArea().value = content;
    });

    function jsonTextArea() {
        return document.getElementById('body-parameter-text');
    }
    
</script>