#l-sidebar {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    width: 20%;
}

#c-body {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    width: 60%;
}

#r-sidebar {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    width: 20%;
}

.fragment-form {
    display: none;
}

.fragment-form.show {
    display: initial;
}