<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/style.css">
    <link rel="stylesheet" href="templates/client/client.css">
    <title>Document</title>
</head>
<body>
    <div id="body-header">

    </div>
    <div id="body-content">
        <div id="l-sidebar">
            {{range .Requests}}
                <p>{{ . }}</p>
            {{end}}
        </div>
        <div id="c-body">
            <form action="/client" method="post">
                <div>
                    <label for="method">
                        <select name="method" id="method">
                            {{range .Methods}}
                                <option value=".">{{ . }}</option>
                            {{end}}
                        </select>
                    </label>
                    <label for="url">
                        <input name="url" id="url" type="text">
                    </label>
                    <button>Send</button>
                </div>
                <div>
                    <div>
                        <p>Query parameters</p>
                        {{ template "query.html" }}
                </div>
            </form>
        </div>
        <div id="r-sidebar">

        </div>
    </div>
</body>
</html>