<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/style.css">
    <link rel="stylesheet" href="templates/client/client.css">
    <title>Document</title>
</head>
<script src="templates/client/client.js"></script>
<body>
    <div id="body-header">

    </div>
    <div id="body-content">
        <div id="l-sidebar">
            {{range .Requests}}
            <p>{{ . }}</p>
            {{end}}
        </div>
        <div id="c-body">
            <form action="/client" method="post">
                <div>
                    <label for="method">
                        <select name="method" id="method">
                            {{range .Methods}}
                            <option value="{{ . }}">{{ . }}</option>
                            {{end}}
                        </select>
                    </label>
                    <label for="url">
                        <input name="url" id="url" type="text">
                    </label>
                    <button>Send</button>
                </div>
                <div>
                    <div>
                        <button onclick="showForm('query-form')" type="button">Query</button>
                        <button onclick="showForm('header-form')" type="button">Headers</button>
                        <button onclick="showForm('auth-form')" type="button">Auth</button>
                        <button onclick="showForm('body-form')" type="button">Body</button>
                    </div>
                    <div id="client-form">
                        <div id="query-form" class="fragment-form show">
                            {{ template "query.html" . }}
                        </div>
                        <div id="header-form" class="fragment-form">
                            {{ template "header.html" . }}
                        </div>
                        <div id="body-form" class="fragment-form">
                            {{ template "body.html" . }}
                        </div>
                        <div id="auth-form" class="fragment-form">
                            {{ template "auth.html" . }}
                        </div>
                    </div>
            </form>
        </div>
        <div id="r-sidebar">

        </div>
    </div>
</body>

</html>