<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/style.css">
    <link rel="stylesheet" href="templates/client/client.css">
    <title>Document</title>
</head>
<script src="templates/script.js"></script>
<script src="templates/client/client.js"></script>
<body>
    <div id="body-header">

    </div>
    <div id="body-content">
        <div id="l-sidebar">
            {{range .Requests}}
            <p>{{ . }}</p>
            {{end}}
        </div>
        <div id="c-body">
            <form action="/client" method="post">
                <input name="id" id="id" type="hidden" value="{{ .Request.Id }}">
                <div>
                    <label for="method">
                        <select name="method" id="method">
                            {{range .Methods}}
                                {{$SELECTED := ""}}
                                {{if eq $.Request.Method . }}
                                    {{$SELECTED = "selected"}}
                                {{end}}
                                <option value="{{ . }}" {{$SELECTED}}>{{ . }}</option>
                            {{end}}
                        </select>
                    </label>
                    <label for="url">
                        <input name="url" id="url" type="text" value="{{ .Request.Uri }}">
                    </label>
                    <button>Send</button>
                </div>
                <div>
                    <div class="radio-button-group">
                        {{ $TagQuery := "query" }}
                        <input type="radio" id="query" class="client-tag" name="client-type" value="query" 
                            {{if or (Not .ClientType) (eq .ClientType $TagQuery) }} checked {{end}}>
                        <label for="query" id="client-label-query" onclick="showForm('query-form')">Query</label>
                        {{ $TagHeader := "header" }}
                        <input type="radio" id="header" class="client-tag" name="client-type" value="header" 
                            {{if eq .ClientType $TagHeader }} checked {{end}}>
                        <label for="header" id="client-label-header"onclick="showForm('header-form')">Headers</label>
                        {{ $TagAuth := "auth" }}
                        <input type="radio" id="auth" class="client-tag" name="client-type" value="auth" 
                            {{if eq .ClientType $TagAuth }} checked {{end}}>
                        <label for="auth" id="client-label-auth"onclick="showForm('auth-form')">Auth</label>
                        {{ $TagBody := "body" }}
                        <input type="radio" id="body" class="client-tag" name="client-type" value="body" 
                            {{if eq .ClientType $TagBody }} checked {{end}}>
                        <label for="body" id="client-label-body"onclick="showForm('body-form')">Body</label>
                    </div>
                    <div id="client-form">
                        <div id="query-form" class="fragment-form  
                            {{if or (Not .ClientType) (eq .ClientType $TagQuery) }} show {{end}}">
                            {{ template "query.html" . }}
                        </div>
                        <div id="header-form" class="fragment-form 
                            {{if eq .ClientType $TagHeader }} show {{end}}">
                            {{ template "header.html" . }}
                        </div>
                        <div id="body-form" class="fragment-form 
                            {{if eq .ClientType $TagBody }} show {{end}}">
                            {{ template "body.html" . }}
                        </div>
                        <div id="auth-form" class="fragment-form 
                            {{if eq .ClientType $TagAuth }} show {{end}}">
                            {{ template "auth.html" . }}
                        </div>
                    </div>
            </form>
        </div>
        <div id="r-sidebar">
            {{if .Response}}
                {{ .Response.Time }}
            {{else}}
                <p>- No Data -</p>
            {{end}}
        </div>
    </div>
</body>

</html>