<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{range .Requests}}
    <div>
        <a href="/client/{{ .Id }}">
            <div>
                <span>{{ .Method }}</span>
                <span>{{ .Uri }}</span>
            </div>
            <div>
                <span>{{ .Timestamp }}</span>
            </div>
        </a>
    </div>
    {{end}}
</body>
</html>