<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/templates/style.css">
        <title>Document</title>
    </head>

    <script src="/templates/script.js"></script>
    <script src="/templates/utils.js"></script>

    {{ template "codemirror.html" . }}

    <body>
        <div id="body-header">

        </div>
        <div id="body-content">
            {{ Template .BodyTemplate . }}
        </div>
    </body>
</html>