html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#body-header {
    height: 75px;
}

#body-content {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    height: 0px;
}

.radio-button-group {
    display: flex;
}

.radio-button-group input[type="radio"] {
    display: none;
}

.radio-button-group label {
    padding: 1px 7px;
    border: 1px solid black;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.radio-button-group label:hover {
    background-color: #d6d5d5;
}

.radio-button-group input[type="radio"]:checked+label {
    background-color: #d6d5d5;
}