html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#body-header {
    height: 75px;
}

#body-content {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    height: 0px;
}

.radio-button-group {
    display: flex;
}

.radio-button-group input[type="radio"] {
    display: none;
}

.radio-button-group label {
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.radio-button-group label:hover {
    background-color: #d6d5d5;
}

.radio-button-group input[type="radio"]:checked+label {
    border-bottom: 1px solid #d6d5d5;
}

.border-bottom {
    border-bottom: 1px solid #d6d5d5;
}

.e-key-value-form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.key-value-form-remove-button::after {
    content: "✖";
}

.key-value-form-remove-button {
    visibility: hidden;
    height: 25px;
    width: 25px;
    border: 1px solid #9b9b9b;
    cursor: pointer;
}

.key-value-form-remove-button:hover {
    background-color: #e4c1c1;
}

.key-value-form-remove-button.show {
    visibility: visible;
}

.e-key-value-form label:not(.status-check) {
    flex: 1 1 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.e-key-value-form label:not(.status-check) input {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}