<div  id="request-container">
    <div class="request-option border-bottom">
        <a onclick="goto('/client', {
            'queries': {'{{ $.Constants.SidebarRequest.TypeView }}': '{{ $.Constants.SidebarRequest.TagHistoric }}',
            'clean': true
        })">New</a>
    </div>
    <div  id="historic-container">
        {{range .RequestsHistoric}}
            <div class="request-preview">
                <a class="request-link" title="{{ .Uri }}"
                    onclick="goto('/client', {
                        'paths': ['{{ .Id }}'], 
                        'queries': {'{{ $.Constants.SidebarRequest.Type }}': '{{ $.Constants.SidebarRequest.TagHistoric }}'}
                    })">
                    <div class="request-sign">
                        <span class="request-sign-method">{{ .Method }}</span>
                        <span class="request-sign-url">{{ .Uri }}</span>
                    </div>
                    <div>
                        <span class="request-sign-timestamp">{{ MillisecondsToDate .Timestamp }}</span>
                    </div>
                </a>
                <button type="button" class="key-value-form-remove-button show" onclick="removeRequest('{{ .Id }}', '{{ $.Constants.SidebarRequest.Type }}={{ $.Constants.SidebarRequest.TagHistoric }}')"></button>
            </div>
        {{end}}
    </div>
</div>