<head>
    <link rel="stylesheet" href="/templates/client/request_sidebar/request_sidebar.css">
</head>

<script src="/templates/client/request_sidebar/request_sidebar.js"></script>

<div class="radio-button-group cover border-bottom">
    <input type="radio" id="historic" class="request-tag" 
        name="{{ .Constants.SidebarRequest.Type }}" 
        value="{{ .Constants.SidebarRequest.TagHistoric }}" 
        {{if or (Not .RequestType) (eq .RequestType .Constants.SidebarRequest.TagHistoric) }} checked {{end}}>
    <label for="historic" id="request-label-historic" onclick="goto('/client', {
        'queries': {'{{ $.Constants.SidebarRequest.Type }}': '{{ $.Constants.SidebarRequest.TagHistoric }}'}})">
        Historic
    </label>

    <input type="radio" id="saved" class="request-tag" 
        name="{{ .Constants.SidebarRequest.Type }}" 
        value="{{ .Constants.SidebarRequest.TagSaved }}" 
        {{if eq .RequestType .Constants.SidebarRequest.TagSaved }} checked {{end}}>
    <label for="saved" id="request-label-saved" onclick="goto('/client', {
        'queries': {'{{ $.Constants.SidebarRequest.Type }}': '{{ $.Constants.SidebarRequest.TagSaved }}'}})">
        Saved
    </label>

    <input type="radio" id="collection" class="request-tag" 
        name="{{ .Constants.SidebarRequest.Type }}" 
        value="{{ .Constants.SidebarRequest.TagCollection }}" 
        {{if eq .RequestType .Constants.SidebarRequest.TagCollection }} checked {{end}}>
    <label for="collection" id="request-label-collection" 
        onclick="goto('/client', {
            'queries': {'{{ $.Constants.SidebarRequest.Type }}': '{{ $.Constants.SidebarRequest.TagCollection }}'}})">
        Collection
    </label>
</div>
<div>
    <div id="request-form-options">
        <div id="request-historic" class="fragment-form  
            {{if or (Not .RequestType) (eq .RequestType .Constants.SidebarRequest.TagHistoric) }} show {{end}}">
            {{ template "historic.html" . }}
        </div>

        <div id="request-saved" class="fragment-form  
            {{if eq .RequestType .Constants.SidebarRequest.TagSaved }} show {{end}}">
            {{ template "persisted.html" . }}
        </div>

        <div id="request-collection" class="fragment-form  
            {{if eq .RequestType .Constants.SidebarRequest.TagCollection }} show {{end}}">
            {{ template "collection.html" . }}
        </div>
    </div>
</div>