<head>
    <link rel="stylesheet" href="/templates/table/table.css">
</head>
<div>
    <table class="table-styled table-fix">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            {{ range $Key, $Value := .Response.Cookies.Cookies }}
                <tr>
                    <td>
                        {{ $Value.Code }}
                    </td>
                    <td>
                        {{ParseCookie $Value }}
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>